# -------------------------

# Python cache

# -------------------------

**pycache**/
*.pyc
*.pyo
*.pyd

# -------------------------

# Virtual environments

# -------------------------

.venv/
venv/
env/

# -------------------------

# Environment variables

# -------------------------

.env

# -------------------------

# Git

# -------------------------

.git
.gitignore

# -------------------------

# IDE

# -------------------------

.vscode/
.idea/

# -------------------------

# Tests & cache

# -------------------------

tests/
.pytest_cache/

# -------------------------

# Logs

# -------------------------

*.log

# -------------------------

# Misc

# -------------------------

*.pid
